.slider--I
    border: solid 2px #7777779a
    position: relative
    height: 20em
    width: 12em
    overflow: hidden
.slider--I-wrap
    position: relative
    top: 1em
    // border: solid .5px
    width: 100%
    margin: auto
    height: 70%
    // padding: 0 15px
    left: 0%
    transition: all 1.5s ease-out
    img
        position: relative
        left: 0
        object-fit: cover
        width: 100%
        height: 100%
        object-position: center
        &+img
.slider-I-img-wrap
    position: relative
    width: 100%
    height: 100%

            // margin-left: .5em
.sliderI-dots
    cursor: pointer
    background-color: #00000018
    width: 10%
    height: 100%
    z-index: 10
    top: 0
.dot-right
    right: 0
.dot-left
    left: 0
.lines
    width: 9px
    height: 9px
    border-left: 1px solid #000
    border-top: 1px solid #000
.line-II
    transform: rotate(135deg)
.line-I
    transform: rotate(-45deg)

